<md-grid-list id="main"                                                
    md-cols="7" md-rows="13"                                           
    md-row-height="2:1" md-gutter="6px">                               
   <md-grid-tile  md-colspan="1"md-rowspan="1" ng-repeat="day in week">
    星期{{day}}                                                        
   </md-grid-tile>                                                     
   <md-grid-tile ng-style="{'background-color': tile.color}" ng-repeat="tile in tiles track by $index" md-colspan="1" md-rowspan="{{tile.len}}">
   {{tile.name}}
   <md-grid-tile-footer ng-if="tile.isclass">
        {{tile.teacher}},{{tile.address}}
   </md-grid-tile-footer>
   </md-grid-tile>                                                     
</md-grid-list> 
