<!DOCTYPE html>
<html lang="en" ng-app='classSchedule'>
<head>
    <meta charset="UTF-8">
    <title>Class Schedule</title>
    <link rel="stylesheet" href="./public/bower_components/angular-material/angular-material.min.css">
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"-->
    <link rel="stylesheet" href="./public/css/index.css">
</head>
<body>
    <md-toolbar id="header" layout="row" layout-align="center center">
        <h2 class="title"><span>Class Schedule<span></h2>
    </md-toolbar>
    <div id="menu" 
        ng-controller="menuController" layout="row" 
        layout-align="center center"
        >
        <md-fab-speed-dial ng-class="md-fling" md-direction="down" md-open=isOpen ng-click=click()>
            <md-fab-trigger  >
                <md-button class="md-fab" aria-label="menu">
                    <md-icon md-svg-src="./public/asset/menu.svg"></md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button 
                    class="md-fab" aria-label="添加课程"
                    ng-click="showDialog($event)"
                    >
                    <md-tooltip>添加课程</md-tooltip>
                    <md-icon md-svg-src="./public/asset/plus.svg">
                    </md-icon>
                </md-button>
            </md-fab-actions>
            <md-fab-actions></md-fab-actions>
        </md-fab-speed-dial>
    </div>

    <md-content id="content" ng-controller="scheduleController">
        <grid-tile tiles="getTile" week="days">
        </grid-tile>
    </md-content>
<script src="./public/bower_components/angular/angular.min.js"></script>
<script src="./public/bower_components/angular-messages/angular-messages.min.js"></script>
<script src="./public/bower_components/angular-material/angular-material.min.js"></script>
<script src="./public/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="./public/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./public/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="./public/js/app.js"></script>
<script src="./public/js/cookiesPrase.js"></script>
<script src="./public/js/scheduleDirective.js"></script>
<script src="./public/js/scheduleController.js"></script>
<script src="./public/js/menuController.js"></script>
<script src="./public/js/addClassController.js"></script>
<script src="./public/build/addclass.html.js"></script>
<script src="./public/build/grid.html.js"></script>
</body>
</html>
