<!DOCTYPE html>
<html lang="en" ng-app='classSchedule'>
<head>
    <meta charset="UTF-8">
    <title>Class Schedule</title>
    <link rel="stylesheet" href="./public/bower_components/angular-material/angular-material.min.css">
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"-->
    <link rel="stylesheet" href="./public/css/index.css">
</head>
<body>
    <md-toolbar id="header" layout="row" layout-align="center center">
    <h2 class="title"><span>Class Schedule<span></h2>
    </md-toolbar>

    <md-fab-speed-dial id="menu" ng-class="md-fling" md-direction="down" md-open=false>
        <md-fad-trigger  >
            <md-button class="md-fab" aria-label="menu">
                <md-icon md-svg-src="./public/asset/menu.svg"></md-icon>
            </md-button>
        </md-fad-trigger>
        <md-fab-actions>
            <md-button class="md-fab" aria-label="添加课程">
                <md-tooltip>添加课程</md-tooltip>
                <md-icon md-svg-src="./public/asset/plus.svg">
                </md-icon>
            </md-button>
        </md-fab-actions>
        <md-fab-actions></md-fab-actions>
    </md-fab-speed-dial>

    <md-content id="content"ng-controller="scheduleController" ng-cloak>
        <md-grid-list id="main" 
            md-cols="7" md-rows="13" 
            md-row-height="2:1" md-gutter="6px">
           <md-grid-tile  md-colspan="1"md-rowspan="1" ng-repeat="day in days" ng-style="{ 'background': color(22)}">
            星期{{day}}
           </md-grid-tile>
           <md-grid-tile 
                ng-repeat="tile in getTile track by $index" md-colspan="1" 
                md-rowspan="{{tile}}" ng-style="{'background': color(tile)}"    
           >
                <md-grid-tile-footer>
                    <h2>Teacher</h2>
                </md-grid-tile-footer>
           </md-grid-tile>
        </md-grid-list>
    </md-content>
</body>
<script src="./public/bower_components/angular/angular.min.js"></script>
<script src="./public/bower_components/angular-material/angular-material.min.js"></script>
<script src="./public/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="./public/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./public/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="./public/js/app.js"></script>
<script src="./public/js/scheduleController.js"></script>
</html>
