@import "compass/css3";

#content {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include box-shadow(rgba(black,0.4) 0 0 5px);
    max-width: 980px;
    height: 920px;
    margin: auto;
    background-color: #F8F8F8;
    overflow: visible;
    .list {
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(wrap);
        .class {
            @include flex(1);
            text-align: center;
        }
    }
    .left-list {
        flex: 1;
    }
    grid-tile {
        flex: 14;
    }
    #main {
        width:100%;
        height: 100%;
    }
    md-grid-tile {
        transform: perspective(1000)  translateZ(0px);
        @include translateZ(0px, 1000px);
        transition: transform 0.5s;
        &:hover {
            @include box-shadow(rgba(black, 0.4) 0 0 3px);
            cursor: normal;
            @include translateZ(30px, 1000px);
        }
    }
}
