#header {
  background-color: #4CAF50;
  color: white;
}
#header .title h2 {
  margin-left: 5px;
}

#content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  max-width: 980px;
  height: 920px;
  margin: auto;
  background-color: #F8F8F8;
  overflow: visible;
}
#content .list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#content .list .class {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
#content .left-list {
  flex: 1;
}
#content grid-tile {
  flex: 14;
}
#content #main {
  width: 100%;
  height: 100%;
}
#content md-grid-tile {
  transform: perspective(1000) translateZ(0px);
  -moz-transform: perspective(1000px) translateZ(0px);
  -webkit-transform: perspective(1000px) translateZ(0px);
  transform: perspective(1000px) translateZ(0px);
  transition: transform 0.5s;
}
#content md-grid-tile:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  cursor: normal;
  -moz-transform: perspective(1000px) translateZ(30px);
  -webkit-transform: perspective(1000px) translateZ(30px);
  transform: perspective(1000px) translateZ(30px);
}

#menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.md-fab:hover {
  background-color: #000 !important;
}

#addclass {
  max-height: 100%;
}
@media (min-width: 600px) {
  #addclass {
    width: 500px;
  }
}
#addclass md-toolbar {
  padding: 5px;
  margin-bottom: 10px;
}
#addclass md-toolbar h3 {
  margin: 5px;
}
#addclass form {
  width: 98%;
  margin: auto;
}
#addclass .buttons {
  margin: 8px 8px 5px 0px;
}
#addclass md-dialog-content md-input-container {
  -webkit-flex: 1;
  flex: 1;
}
#addclass md-dialog-content md-input-container input {
  width: 95%;
}
#addclass md-dialog-content h2 {
  margin: 5px 0px 5px 10px;
  color: #102A72;
}
#addclass md-dialog-content h2 span {
  margin-left: 6px;
}
#addclass md-dialog-content h2 md-icon svg {
  fill: #1e88e5;
}
