#header {
  background-color: #4CAF50;
  color: white;
}
#header .title h2 {
  margin-left: 5px;
}

#content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px;
  max-width: 980px;
  height: 800px;
  margin: auto;
  background-color: #F8F8F8;
}
#content .list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#content .list .class {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
#content #main {
  width: 100%;
  height: 100%;
}
#content md-grid-tile:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  cursor: normal;
}
